@tailwind base;
@tailwind components;
@tailwind utilities;
/*components*/
/*Home page*/
/*main image background*/
main{
  background-image: url("./assets/imageNBAbackground.png");
  background-size: cover;
  background-position: right;
  
}
  /*Navigation bar*/
  .NavBar{
    display: flex;
    flex-direction: row;
  }
  /*Vote4Goat title*/
  #vote4Goat{
    padding: 0%;
    padding-right: 3%;
    padding-left: 3%;
    border: 2px linear grey;
    background-color: grey;
    display: inline-block;
    border-radius: 9%;
    color: #DC143C;
    position: relative;
    top: 30px;
  }
  /*Logout and settings buttons*/
  .Logout-Settings{
    position: relative;
    left: 33%;
    bottom: 37px;
    display: flex;
    flex-direction: column;
    padding-left: 45%;
    padding-right: 45%;
  }
  #Logout{
    background-color: grey;
    color: white;
    display: inline-block;
    margin-bottom: 4%;
  }
  #Settings{
    display: inline-block;
    background-color: grey;
    color: white;
  }
  /*Logo*/
  #Logo{
    width: 5%;
    height: 5%;
  }
  /*top 5*/
  .top5{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 0px;
    width: 80%;
    max-width: 1000px;
    position: relative;
    left: 25%;
  }
  .hidden-duration-700-ease-in-out{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
  }
 .P1{
   width: 100%;
   height: 300%;
   object-fit: cover;
 }
 .P2{
  width: 100%;
  height: 300%;
  object-fit: cover;
 }
.P3{
  width: 100%;
  height: 300%;
  object-fit: cover;
}
.P4{
  width: 100%;
  height: 300%;
  object-fit: cover;
}
.P5{
  width: 100%;
  height: 300%;
  object-fit: cover;
}
  /*player buttons*/
  .PlayerButtons{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    gap: 0px;
    justify-content: center;
    align-items: center;
  } 
  #Player1{
    background-image: url('../src/assets/1000048188_480.jpg');
    width: 100px;
    height: 100px; 
    background-size: cover; 
    background-position: center; 
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #Player2{
    background-image: url('../src/assets/1000048189_720.jpg');
    width: 100px;
    height: 100px; 
    background-size: cover; 
    background-position: center; 
    grid-column-start: 2;
    grid-column-end: 3;
  }
  #Player3{
    background-image: url('../src/assets/1000048190_720.jpg');
    width: 100px; 
    height: 100px; 
    background-size: cover; 
    background-position: center; 
    grid-column-start: 3;
    grid-column-end: 4;
  }
  #Player4{
    background-image: url('../src/assets/1000048191_720(1).jpg');
    width: 100px; 
    height: 100px; 
    background-size: cover; 
    background-position: center; 
    grid-column-start: 4;
    grid-column-end: 5;
  }
  #Player5{
    background-image: url('../src/assets/1000048192_720(1).jpg');
    width: 100px; 
    height: 100px; 
    background-size: cover; 
    background-position: center; 
    grid-column-start: 5;
    grid-column-end: 6;
  }
  #Player6{
    background-image: url('../src/assets/1000048193_720(1).jpg');
    width: 100px; 
    height: 100px; 
    background-size: cover; 
    background-position: center; 
    grid-column-start: 6;
    grid-column-end: 7;
  }
  #Player7{
    background-image: url('../src/assets/636469848850033350-usp-nba-brooklyn-nets -at-cleveland-cavaliers-95522351_720(1).jpg');
    width: 100px; 
    height: 100px; 
    background-size: cover; 
    background-position: center; 
    grid-column-start: 7;
    grid-column-end: 8;
  }
  #Player8{
    background-image: url('../src/assets/Kobe_Bryant_2014.jpg');
    width: 100px; 
    height: 100px; 
    background-size: cover; 
    background-position: center; 
    grid-column-start: 8;
    grid-column-end: 9;
  }
  #Player9{
    background-image: url('../src/assets/Magic-Johnson.jpg');
    width: 100px; 
    height: 100px; 
    background-size: cover; 
    background-position: center; 
    grid-column-start: 9;
    grid-column-end: 10;
  }
  #Player10{
    background-image: url('../src/assets/shaquille-oneal-orlando-magic-uns igned-hardwood-classics-dribble-look-photograph_pi4286000_ff_4286840-4d9ea2dc602071ba80fd_full_720(1).jpg');
    width: 100px; 
    height: 100px; 
    background-size: cover; 
    background-position: center; 
    grid-column-start: 10;
    grid-column-end: 11;
  }
  /*Arrow previous and next for players*/
  #Previous{
   display: grid;
   position: relative;
   left: 420%;
  }
  #Next{
    display: grid;
    position: relative;
    left: 420%;
  }
  /*Login*/
  .signin-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;
}
.signin-form h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}
.signin-form input {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}
.signin-form button {
    width: calc(100% - 20px); 
    padding: 10px;
    background-color: #007bff; 
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; 
    box-sizing: border-box; 
}
.signin-form button:hover {
    background-color: #0056b3;
}
  /*landing page*/
  body{
  /* background-color: #f4f4f4; */
  background-image: url('./assets/imageNBAbackground.png');
  background-size: cover;
  background-position: center;
  }
.Landing {
    position: absolute;
    bottom: 150px; 
    right: 10px;
    display: flex;
    flex-direction: column;
}
.btn {
    padding: 20px 40px; 
    margin: 10px 0; 
    border: 4px solid black;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 1.5em; 
}
.sign-in {
    background-color: #f10202;
}
.sign-up {
    background-color: #008CBA;
}

  /*Sign Up*/
  .signUp {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}
.signUp h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
    text-align: center;
}
.signUp label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}
.signUp input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}
.signUp input:focus {
    border-color: #007BFF;
}
.signUp button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.signUp button:hover {
    background-color: #0056b3;
}
/*Leaderboard*/
  /*player list leaderboard*/
  .PlayerList{
    background-color: #333;
    color: #ced4da;
    text-align: center;
    display: grid;
    position: relative;
    left: 610%;
    grid-template-columns: repeat(1,1fr);
   }

.item-wrapper {
  border: 1px solid salmon;
  width: 200px;
  padding: 0;
  background-color: #333;
}

.Player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  will-change: transform;
  transition: all 0.3s ease-in;
}

.item__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.item__avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.item__score {
  font-family: monospace;
  flex: 1;
  text-align: right;
}

.item__avatar,
.item__name,
.item__score {
  margin-left: 10px;
}
/*Profile*/
.Profile{
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}
.Circle{
  width: 100px;
  height: 100px;
  background-color: #007BFF;
  border-radius: 90%;
  margin: auto;
}
#Username{
  font-family: Arial, Helvetica, sans-serif;
}
#Email{
  font-family: Arial, Helvetica, sans-serif;
}
#Player{
  font-family: Arial, Helvetica, sans-serif;
}
.favPlayers{
  font-family: Arial, Helvetica, sans-serif;
}